/* Smooth scrolling behavior for anchor links */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', 'Open Sans', sans-serif; /* My 3 Fonts */

    /* This makes sure there is no spacing included with the body */
    margin: 0;
    padding: 0;
}

.column a, .invisible-column a{
    text-decoration: none; /* Remove underline for links */
}

a:visited {
    color: white; /* Added this to keep the nav bar linked 
                       pages white even after being clicked */
}

.row, .row2, .row3, .row4, .row5{
    /* Makes everything horizontal */
    display: flex;
}

.row {
    position: sticky;
    top: 0;
    z-index: 4;
}

.row2 {
    margin-bottom: -25px;
}

.row3, .row5{
    margin-top:50px;
    margin-bottom: 50px;
}

.row5{
    margin-left: 200px;
}




.invisible-column, .column{
    /* Makes my nav bar light blue and the text of those white */
    background-color: #1e3050;
    color: white;
}

/* Invisible column on the left */
.invisible-column {
    /* Makes this specific column take up 70% of the total navbar */
    flex: 70%;
    
    /* Puts some space on the left and bottom of the "D." 
    so that it doesn't hug the side and bottom of the nav bar */
    padding-left: 50px;
    padding-bottom: 0px;
}

.invisible-column h2 {

    /* Increases the h2 to a specific 40px */
    font-size: 40px;

    /* Gets rid of unecessary space around the h2 */
    margin: 0;

    /* Moves down the letter down so its not so close to the top */
    padding-top: 10px;
}

.column {
    /* Makes the rest of the columns fill the rest of the space evenly 
    considering the first column "invisible-column is taking 70%
    
    So the rest of the columns will use the remaining 30% evenly. */
    flex: 1;
    
    /* Adjust the space between words without cutting the nav bar */
    padding: 5px 50px;

    /* Required for absolute positioning of ::before pseudo-element */
    position: relative;

    /* Makes Text not make a new-line */
    white-space: nowrap;
}

/* White underline bar before hovering*/
.column::before {
    /* This content property is to be able to create additional content
    in a ::before or ::after. It can be a string, img, html entity or none.
    I used none because I am creating a basic shape or line. */
    content: "";

    /* Makes the position of the underline exactly where I want,
    in perspective to the container (relative) */
    position: absolute;

    /* Adjusts positioning of underline */
    bottom: 15px;
    left: 50px;

    /* Initial width is 0 */
    width: 0; 
    /* Set the height and style of the underline */
    height: 3px; 

    background-color: white;
    /* Round out the underline bar */
    border-radius: 10px;
    /* Set transition for width property with a 0.3-second duration */
    transition: width 0.3s ease;
}

.column.about::before  {
    width: 35%;
}

/* Makes Bar Grow with hovering
Specific lengths depending on Text */
.column.home:hover::before  {
    width: 25%;
}



.column.project:hover::before  {
    width: 35%;
}



.profile-pic {
    margin: 200px 100px 0px 100px;
}

.profile-pic img{
    border-radius: 20px;
}

.about-me{
    /* Specified font color and size */
    color: #1d60d5;
    font-size: x-large;

    /* Adjusted container width, height, and outside space */
    margin-top: 30px;
    margin-left: 80px;
    padding: 25px;

}

.about-title{
    margin-bottom: 50px;
}

.highlight {
    font-weight: bold;
}

/* Underline */
.shape{
    display: inline-block;
    position: absolute;
    background-color: black;
    height: 4px;
}

.about-underline{
    /* Adjusts positioning */
    background-color: #1e3050;
    border-radius: 10px;
    margin-top: -20px;
    width: 100px;
}

.divider-underline{
    /* Adjusts positioning */
    background-color: #1e3050;
    border-radius: 10px;
    margin-top: -20px;
    margin-left: 200px;
    width: 1500px; 
}

.bio {
    /* Adjusted the text width space */
    width: 90%;

    /* Font color */
    color: #1e3050;

    font-size: 26px;

    /* Made the font thinner */
    font-weight: lighter;

    padding:0;
}

.resume i {
    color: #1e3050; 
    font-size: 60px;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 105px;

    transition: color 0.3s ease;
}

.resume i:hover{
    color: #1d60d5;
    transform: scale(1.1);
}

.my-resume{
    margin-top: 5px;
    margin-left: 90px;
}



.experience{
    flex: 50%;
    /* Specified font color and size */
    color: #1d60d5;
    font-size: x-large;

    /* Adjusted container width, height, and outside space */
    margin-left: 100px;
    padding: 25px;
}

.experience-title{
    margin-bottom: 50px;
}

.experience h3{
    margin-bottom: -20px;
}

.row3 p{
    color: #1e3050;
}

.education{
    flex:50%;
    /* Specified font color and size */
    color: #1d60d5;
    font-size: x-large;

    /* Adjusted container width, height, and outside space */
    margin-left: 100px;
    padding: 25px;
}

.education-title{
    margin-bottom: 50px;
}

.education h3{
    margin-bottom: -10px;
    padding-bottom: 0;
}

.skills {
     /* Specified font color and size */
     color: #1d60d5;
     font-size: x-large;
 
    position: absolute;
    left: 46%;
}

.skills-underline{
    /* Adjusts positioning */
    background-color: #1e3050;
    border-radius: 10px;
    margin-top: -20px;
    width: 50px;
    height: 5px;
}

.skills-list{
    display: flex;
    /* Adjusted container width, height, and outside space */
    padding: 50px;
    margin-left: 100px;
}

.skills-list li{
    list-style-type: circle;
    /* Specified font color and size */
    color: #1d60d5;
    font-size: large;
    margin: 50px;
    
}

.skills-list h2{
    color:#1e3050;
    font-weight: lighter;
}

iframe{
    margin-top: 500px;
    border-radius: 10px;
}

.parent-li{
    margin-bottom: 50px;
}




footer {
    /* Color and size of footer */
    background-color: #1e3050;
    height: 50px;

    /* Makes the footer always positioned on the bottom */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}



