/* Smooth scrolling behavior for anchor links */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif; /* My 3 Fonts */

    /* This makes sure there is no spacing included with the body */
    margin: 0;
    padding: 0;
}

.column a, .invisible-column a{
    text-decoration: none; /* Remove underline for links */
}

a:visited {
    color: white; /* Added this to keep the nav bar linked 
                       pages white even after being clicked */
}

.row, .row2, .row3, .row4, .row5, .row6, .row7{
    /* Makes everything horizontal */
    display: flex;
}

.row {
    position: sticky;
    top: 0;
    z-index: 4;
}

.row5, .row7{
    margin-top: 200px;
}

.row7 {
    margin-bottom: 150px;
}

.invisible-column, .column{
    /* Makes my nav bar light blue and the text of those white */
    background-color: #1e3050;
    color: white;
}

/* Invisible column on the left */
.invisible-column {
    /* Makes this specific column take up 70% of the total navbar */
    flex: 70%;
    
    /* Puts some space on the left and bottom of the "D." 
    so that it doesn't hug the side and bottom of the nav bar */
    padding-left: 50px;
    padding-bottom: 0px;
}

.invisible-column h2 {

    /* Increases the h2 to a specific 40px */
    font-size: 40px;

    /* Gets rid of unecessary space around the h2 */
    margin: 0;

    /* Moves down the letter down so its not so close to the top */
    padding-top: 10px;
}

.column {
    /* Makes the rest of the columns fill the rest of the space evenly 
    considering the first column "invisible-column is taking 70%
    
    So the rest of the columns will use the remaining 30% evenly. */
    flex: 1;
    
    /* Adjust the space between words without cutting the nav bar */
    padding: 5px 50px;

    /* Required for absolute positioning of ::before pseudo-element */
    position: relative;

    /* Makes Text not make a new-line */
    white-space: nowrap;
}

/* White underline bar before hovering*/
.column::before {
    /* This content property is to be able to create additional content
    in a ::before or ::after. It can be a string, img, html entity or none.
    I used none because I am creating a basic shape or line. */
    content: "";

    /* Makes the position of the underline exactly where I want,
    in perspective to the container (relative) */
    position: absolute;

    /* Adjusts positioning of underline */
    bottom: 15px;
    left: 50px;

    /* Initial width is 0 */
    width: 0; 
    /* Set the height and style of the underline */
    height: 3px; 

    background-color: white;
    /* Round out the underline bar */
    border-radius: 10px;
    /* Set transition for width property with a 0.3-second duration */
    transition: width 0.3s ease;
}

/* Makes Bar Grow with hovering
Specific lengths depending on Text */
.column.home:hover::before  {
    width: 25%;
}

.column.about:hover::before  {
    width: 35%;
}

.column.project::before  {
    width: 35%;
}

.projects{
    /* Specified font color and size */
    color: #1d60d5;
    font-size: x-large;

    /* Adjusted container width, height, and outside space */
    margin-top: 0px;
    margin-left: 80px;
    padding: 0px;
}

/* Underline */
.shape{
    display: inline-block;
    position: absolute;
    background-color: black;
    height: 4px;
}
.project-underline{
    /* Adjusts positioning */
    background-color: #1e3050;
    border-radius: 10px;
    margin-top: -20px;
    width: 100px;
}

.divider-underline{
    /* Adjusts positioning */
    background-color: #1e3050;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 200px;
    width: 1500px; 
}


.title{
    color:#1d60d5
}

.description{
    margin-top: 30px;
}

.description h2{

    /* Font color */
    color: #1e3050;

    font-weight: lighter;
    
    width: 80%;
    padding:0;
}

.block-bash-image img{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 30px;
    border-radius: 20px;
}

.bb-section {
    margin-top: 0px;
    margin-left: 100px;
}

.Ditw-section{
    margin-left: 100px;
}

.bb-underline{
    /* Adjusts positioning */
    background-color: #1e3050;
    border-radius: 10px;
    margin-top: -10px;
    width: 100px;
}

.bb-vert-imgs{
    margin-left: 250px;
}

.bb-vert-imgs img{
    border-radius: 20px;
    margin: 10px 10px 10px 0px;
}

.role {
    width: 40%;
    margin-left: 160px;
    margin-top: 0px;
}


.role .bold, .description .bold{
    font-weight: bold;
}

.dice-itw-image img{
    border-radius: 20px;
    margin-right: 100px;
}

.solus-video{
    margin-top: 20px;
    margin-left: 100px;
}

.sc-section{
    margin-left: 200px;
}

footer {
    /* Color and size of footer */
    background-color: #1e3050;
    height: 50px;

    /* Makes the footer always positioned on the bottom */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}



