/* Smooth scrolling behavior for anchor links */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif; /* My 3 Fonts */

    /* This makes sure there is no spacing included with the body */
    margin: 0;
    padding: 0;
}

.column a, .invisible-column a{
    text-decoration: none; /* Remove underline for links */
}

a:visited {
    color: white; /* Added this to keep the nav bar linked 
                       pages white even after being clicked */
}


.row, .row2, .row3{
    /* Makes everything horizontal */
    display: flex;
}

.row {
    position: sticky;
    top: 0;
    z-index: 4;
}

.row3 {
    /* Makes my contact form centered within the row */
    justify-content: center;
    /* Adds 200px of space around my row3 */
    margin-bottom: 30px;
}

.invisible-column, .column{
    /* Makes my nav bar light blue and the text of those white */
    background-color: #1e3050;
    color: white;
}

/* Invisible column on the left */
.invisible-column {
    /* Makes this specific column take up 70% of the total navbar */
    flex: 70%;
    
    /* Puts some space on the left and bottom of the "D." 
    so that it doesn't hug the side and bottom of the nav bar */
    padding-left: 50px;
    padding-bottom: 0px;
}

.invisible-column h2 {

    /* Increases the h2 to a specific 40px */
    font-size: 40px;

    /* Gets rid of unecessary space around the h2 */
    margin: 0;

    /* Moves down the letter down so its not so close to the top */
    padding-top: 10px;
}

.column {
    /* Makes the rest of the columns fill the rest of the space evenly 
    considering the first column "invisible-column is taking 70%
    
    So the rest of the columns will use the remaining 30% evenly. */
    flex: 1;
    
    /* Adjust the space between words without cutting the nav bar */
    padding: 5px 50px;

    /* Required for absolute positioning of ::before pseudo-element */
    position: relative;

    /* Makes Text not make a new-line */
    white-space: nowrap;
}

/* White underline bar before hovering*/
.column::before {
    /* This content property is to be able to create additional content
    in a ::before or ::after. It can be a string, img, html entity or none.
    I used none because I am creating a basic shape or line. */
    content: "";

    /* Makes the position of the underline exactly where I want,
    in perspective to the container (relative) */
    position: absolute;

    /* Adjusts positioning of underline */
    bottom: 15px;
    left: 50px;

    /* Initial width is 0 */
    width: 0; 
    /* Set the height and style of the underline */
    height: 3px; 

    background-color: white;
    /* Round out the underline bar */
    border-radius: 10px;
    /* Set transition for width property with a 0.3-second duration */
    transition: width 0.3s ease;
}

/* Makes Bar Grow with hovering
Specific lengths depending on Text */
.column.home::before  {
    width: 25%;
}

.column.about:hover::before  {
    width: 35%;
}

.column.project:hover::before  {
    width: 35%;
}


/* Slideshow container styles */
.slideshow-container {
    display: flex;

    /* Centers horizontally */
    justify-content: center;
    /* Centers vertically */
    align-items: center;

    /* Adding this for .mySlides to use as position reference */
    position: relative;

    /* Adjust image container size and spacing around it */
    width: 800px;
    height: 600px;
    margin: 90px 100px 200px 140px;
    padding-left: 100px;
    
    
}

/* Made this to be able to change the display through js
& adjust the size/positioning */
.mySlides {
  position: absolute; /* Use absolute positioning */

  /* Have the opacity start at 0, will be changed with slideshow.js */
  opacity: 0;

  /* Transition opacity change smoothly with 0.5 secs */
  transition: opacity 0.5s ease;

  /* Set the image to fit inside the container, centered */
  width: 100%;
  height: 100%;

  /* object-fit controls how the content (an image or video)
  should be resized to fit within its container */
  object-fit: contain;

  /* object-position controls the position of the 
  content within its container.  */
  object-position: center;
}
@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust the floating distance as needed */
    }
}

.floating {
    /* Add animation properties */
    animation: floating 3s infinite; /* Adjust duration as needed */
    animation-timing-function: ease-in-out; /* Smooth easing in and out */
    
}

.dylan {
    /* Specified font color and size */
    color: #1d60d5;
    font-size: x-large;

    /* Adjusted dylan container width, height, and outside space */
    width: 700px;
    height: 400px;
    margin-top: 75px;
    margin-left: 100px;
    padding: 25px;

    /* Need this to make underline*/
    /* Added positioning to act as a positioned ancestor for .underline */
    position: relative;

}

.careerTitle{
    /* Adjusting font color and positioning of
    "IT Tech | Game Dev" text */
    color: #1e3050;
    margin-top: -20px;
}

/* My underline and circles ruleset */
.shape{
    display: inline-block;
    position: absolute;
    background-color: black;
    height: 4px;
}


.career-underline{
    /* Adjusts positioning */
    background-color: #1e3050;
    border-radius: 10px;
    margin-top: -20px;
    width: 300px;
}

.bio {
    /* Adjusted the text width space */
    width: 80%;

    /* Font color */
    color: #1e3050;

    /* Made the font thinner */
    font-weight: lighter;
}

@keyframes expandDarkShadow {
    0%, 100% {
        width: 325px; /* Expanded width */
        margin-left: 87.5px;
    }
    50% {
        width: 300px; /* Original width */
        margin-left: 100px;
    }
}

@keyframes expandLightShadow {
    0%, 100% {
        width: 525px; /* Expanded width */
        margin-left: -12.5px;
    }
    50% {
        width: 500px; /* Original width */
        margin-left: 0px;
    }
}

.dark-shadow{
    background-color: #a7c3e3;

    /* Adjust outside spacing & sizing */
    margin-top: 10px;
    margin-left: 100px;
    width: 300px;
    height: 60px;

    /* Rounding out the shape */
    border-radius: 50%;
    /* Forcefully put this above the other shadow */
    z-index: 3;

    /* Add animation properties */
    animation: expandDarkShadow 3s infinite; /* Adjust duration as needed */
    animation-timing-function: ease-in-out; /*Smooth easing in and out */
}

.light-shadow{
    /* Adjusts positioning */
    background-color: #ecf5ff;

    /* Adjust outside spacing & sizing */
    margin-top: 0px;
    margin-left: 0px;
    width: 500px;
    height: 100px;

    /* Rounding out the shape */
    border-radius: 50%;
    animation: expandLightShadow 3s infinite; /* Adjust duration as needed */
    animation-timing-function: ease-in-out; /*Smooth easing in and out */

}

.contact-me {
    display: flex;
     /* Centers horizontally */
     justify-content: center;
     /* Centers vertically */
     align-items: center;

    background-color: #1e3050;
    /* Font color */
    color: white;

    /* Adjust outside spacing & sizing */
    width: 200px;
    height: 60px;
    margin-top: 200px;
    margin-left: 150px;

    /* Rounding out the shape */
    border-radius: 50px;
    /* Smooth the transition of background-color change */
    transition: background-color 0.3s ease;
}

.contact-me a{
    text-decoration: none; /* Remove underline for links */  
}


.contact-me:hover{
    /* Change the contact me button
    to this color when I hover */
    background-color: #1d60d5;
    cursor: pointer;
    transform: scale(1.1);
}

.contact-section {
    display: flex;
    flex-direction: column;


    /* Adds Space on top */
    margin-top: 50px;
    /* Adds Space on bottom */
    margin-bottom: 100px;

    /* Adds a border around the contect section */
    border: 5px solid #1e3050;

    /* Sets Size */
    width: 1000px;
    height: 700px;

    /* Rounds the section */
    border-radius: 20px;
}

.contact-section h1, .contact-section .icons {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}

.contact-section h1 {
    color: #1e3050;
    margin-top: 30px;
}

.contact-underline {
    /* Adjusts positioning */
    background-color: #1e3050;
    border-radius: 10px;
    margin-top: 75px;
    margin-left: 420px;
    width: 80px;
}
 
form {
    /* Formats the form to be a column */
    display: flex;
    flex-direction: column;

    /* Adds Space*/
    margin-left: 100px;
    margin-top: 20px;

    /* Adjust the input boxes of the form */
    width: 300px;
}

label {
    /* Adds space from the label and the input box below it */
    margin-bottom: 5px;
}

input, textarea {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    /* Adjusts spacing around input and textbox */
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

textarea {
    /* Made the height of the textbox taller */
    height: 200px;
    width: 800px;
    border: 2px solid #1e3050;
}

button {

    /* Font and background color */
    background-color: #1e3050;
    color: white;
    font-size: large;
    /* Made the font thinner */
    font-weight: bold;


    /* Outside spacing */
    padding: 8px 16px;
    margin-left: 614px;

    justify-content: right;

    /* Removes button border */
    border: none;

    /* Rounds Out Button */
    border-radius: 20px;

    /* Smooth the transition of background-color change */
    transition: background-color 0.3s ease;

    width: 200px;
    height: 40px;
    
}
  
button:hover {
    /* Changes background color when hovering */
    background-color: #1d60d5;
    /* Changes cursor to a pointer when over the button */
    cursor: pointer;
    transform: scale(1.1);
}


.icons {
    display: flex;
    justify-content: center; /* To center the icons horizontally */
    gap: 100px; /* Adjust the gap value as per your preference */
    margin-top: 20px; /* Margin at the top */
}

.icons a:hover{
    transform: scale(1.1);
}


i{
    font-size: 60px;
}

footer {
    /* Color and size of footer */
    background-color: #1e3050;
    height: 50px;

    /* Makes the footer always positioned on the bottom */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width: 1000px) {
    .contact-underline {
        background-color: white;
    }
}

@media (max-width: 768px) {
    textarea{
        height: 200px;
        width: 300px;
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 768px) {
    button{
        margin-left: 50px;
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
    .icons{
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .row2 {
        flex-direction: column; /* Stack the sections vertically, with slideshow on top */
        justify-content: center;
    }

    .slideshow-container {
        /* Adjust positioning and margin to stack slideshow on top */
        margin: 20px auto;
        width: 80%; /* Adjust width as needed */
    }

    .dylan {
        width: 100%; /* Expand Dylan bio section to full width */
        margin: 0 auto 200px 150px; /* Add margin to separate sections */

    }
}



